{% include 'header.html' %}
<div>
    <caption>
        <h1><i class="fa-solid fa-cart-shopping"></i> Order Successful</h1>
    </caption>
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-8">
            {% if orders %}
            {% for order in orders %}
            <div class="card mt-2">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../media/{{order.pet.pet.image}}" height="250px" class="card-img" alt="Pet images">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{order.pet.pet.name}}</h5>
                            <p class="card-text">Age: {{order.pet.pet.age}}</p>
                            <p class="card-text">Breed: {{order.pet.pet.breed}}</p>
                            <p class="card-text">Gender: {{order.pet.pet.gender}}</p>
                            <p class="card-text">Price: {{order.pet.pet.price}} Rs</p>
                            <p class="card-text">Quantity: {{order.pet.quantity}}</p>
                            <h6 class="card-text">Total Price: {{order.pet.total_price}} Rs</h6>
                            <h6 class="card-text">Token: {{order.user_token}}</h6>
                            <p class="card-text">Address: {{order.address}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card">
                <h3 class="text-center">No orders Yet</h3>
            </div>
            {% endif %}
        </div>

        

    </div>
</div>

{% include 'footer.html' %}